*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Slab', serif;
}
.header-div h1{
    font-size:40px ;
    padding-bottom: 10px;
   
}
h1{
    font-family: 'Oswald', sans-serif;
}
header .header-div{
    padding-top:50px;
    text-align:center;
    font-weight: bolder;
}

.header-div .item-name{
    font-size: 12px;
}
.header-div a{
    text-decoration: underline;
    color:#F26C68;
    font-style: italic;
}

h3{
    font-weight: bolder;
    font-size: 22px;
}

.container{
    width: 53%;
    margin:0 auto;
    padding-top:50px;
}

.container-desc{
    margin-top:20px;
    line-height: normal;
    font-size: 18px;
    text-align: justify;
    padding:5px;
}
/* .container-desc p{
    padding:10px;
} */

.common-link{
    text-decoration: none;
    color:black;
    border-bottom: 1px solid #F26C68;
}


.common-link:hover{
    color:#F26C68;
}

.quiz-section{
    background-color:#FEF2F1 ;
    margin-top: 20px;
    height: 400px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.quiz-container img{
    height: 200px;
    width: 200px;
}
.quiz-container h1,h2,h3,p,input,a{
    text-align: center;
}
.quiz-container h1{
    font-size: 30px;
    padding-top:15px;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.quiz-container .learning-hint{
    margin-bottom:10px;
}

.quiz-skills .learning-item{
    font-size:1.5rem;
    padding-left: 10px;
    padding-bottom: 20px;
}

.quiz-button{
   margin-top:15px;
   
}
.quiz-button a{
    text-decoration: none;
    background-image: linear-gradient(salmon,#F26C68);
    padding:20px 50px;
    border-radius: 12px;
}